/**
 *	03 - CSS Variables
 *	by Mark McMurray
 */

:root {
	--spacing: 10px;
	--blur: 10px;
	--base: #B4D455;
}

body {
	height: 100vh;
	text-align: center;
	background-image: url(../images/background.jpg);
	background-size: cover;
}

.highlight {
	color: var(--base);
}

.controls {
	margin-bottom: 75px;
}

.image {
	width: 100%;
	max-width: 600px;
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
}